html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#container {
    margin: 0px auto;
    width: 100%;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
#canvasElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
#loading {
  width: 0%;
  border: 2px solid blue;
}
